/* pagination bar */

.pagination-container {
  display: grid;
  grid-template-columns: var(--left-right-margin-desktop) 1fr var(
      --left-right-margin-desktop
    );
}

.pagination-container-classname {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  align-items: center;
  padding-inline-start: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination-container-classname-previous {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: var(--secondaryTextColor);
  cursor: pointer;
}
.pagination-container-classname-next {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: var(--secondaryTextColor);
  cursor: pointer;
}
.pagination-container-classname-pages {
  color: var(--secondaryTextColor);
}
.pagination-container-classname-pages-link {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}
.pagination-container-classname-break {
  color: var(--secondaryTextColor);
}
.pagination-container-classname-break-link {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pagination-container-classname-active-page {
  background-color: var(--secondaryTextColor);
  color: var(--mainBgColor);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pagination-icon-left {
  margin-right: 10px;
}

.pagination-icon-right {
  margin-left: 10px;
}

@media (max-width: 998px) {
  .pagination-container {
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }
}
