/* footer css */
.footer-container {
  display: grid;
  grid-template-columns: var(--left-right-margin-desktop) 1fr var(
      --left-right-margin-desktop
    );
  background-color: var(--secondaryBgColor);
  margin-top: 10px;
  padding-top: 80px;
  padding-bottom: 34px;
}

.footer-start {
  grid-column: 2/3;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-second-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-second-section ul {
  padding-inline-start: 0;
}

.footer-container p {
  color: var(--footer-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-description {
  grid-column: 1/2;
}

.footer-links {
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
}

.footer-third-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-third-section-left {
  display: flex;
  align-items: center;
}
.footer-third-section-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 998px) {
  .footer-container {
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-second-section {
    display: flex;
    flex-direction: column;
  }

  .footer-description {
    text-align: center;
  }
  .footer-socials {
    justify-content: center;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-company {
    grid-column: 1/2;
  }

  .footer-influencer {
    grid-column: 2/3;
  }

  .footer-advertiser {
    grid-column: 2/3;
  }

  .footer-third-section {
    flex-direction: column-reverse;
  }
}
