@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

:root {
  /* light theme color palette */
  --mainTextColor-light: #231f20;
  --secondaryTextColor-light: #000;
  --mainBgColor-light: #fff;
  --secondaryBgColor-light: #f7f7f8;
  --highlight-light: #202124;
  --border-light: #dbdbdb;
  --searchBox-light: #fff;
  --footer-text-light: #637381;
  --card-icons-light: #564fb1;
  --card-statistics-count-light: #564fb1;

  /* dark theme color palette */
  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #637381;
  --mainBgColor-dark: #000;
  --secondaryBgColor-dark: #17181b;
  --highlight-dark: #202124;
  --border-dark: #323246;
  --searchBox-dark: #202124;
  --footer-text-dark: #637381;
  --card-icons-dark: #637381;
  --card-statistics-count-dark: #96b3cd;

  /* constants */
  --left-right-margin-desktop: 20rem;
  --left-right-margin-mobile: 2rem;
}

.dark-theme {
  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
  --secondaryBgColor: var(--secondaryBgColor-dark);
  --highlight: var(--highlight-dark);
  --border: var(--border-dark);
  --searchBox: var(--searchBox-dark);
  --footer-text: var(--footer-text-dark);
  --card-icons: var(--card-icons-dark);
  --card-statistics-count: var(--card-statistics-count-dark);
}

.light-theme {
  --mainTextColor: var(--mainTextColor-light);
  --secondaryTextColor: var(--secondaryTextColor-light);
  --mainBgColor: var(--mainBgColor-light);
  --secondaryBgColor: var(--secondaryBgColor-light);
  --highlight: var(--highlight-light);
  --border: var(--border-light);
  --searchBox: var(--searchBox-light);
  --footer-text: var(--footer-text-light);
  --card-icons: var(--card-icons-light);
  --card-statistics-count: var(--card-statistics-count-light);
}

* {
  font-family: "Sen";
}

h1,
h2,
h3,
h4,
p,
span {
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* responsive code */
@media (max-width: 998px) {
  .nav-main-container {
    grid-template-columns: var(--left-right-margin-mobile) 3fr 3fr var(
        --left-right-margin-mobile
      );
    grid-column: 2/3;
  }
  .nav-right-side-items {
    grid-column: 3/4;
  }

  .nav-right-side-items ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
  }

  .nav-name-profile-pic p {
    display: none;
  }

  .nav-menu-items {
    display: none;
  }

  .nav-hamburger-menu {
    display: inline;
  }

  .search-bar-main-container {
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }

  .search-bar-profile-count {
    width: 100%;
  }
  .search-bar-input-box {
    width: 100%;
  }
  .search-bar-box {
    flex-direction: column;
    padding: 0px 25px 25px 25px;
  }

  .card-container {
    display: grid;
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }
  .card-main-container {
    width: 100%;
  }

  .pagination-container {
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }

  .footer-container {
    grid-template-columns: var(--left-right-margin-mobile) 1fr var(
        --left-right-margin-mobile
      );
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-second-section {
    display: flex;
    flex-direction: column;
  }

  .footer-description {
    text-align: center;
  }
  .footer-socials {
    justify-content: center;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-company {
    grid-column: 1/2;
  }

  .footer-influencer {
    grid-column: 2/3;
  }

  .footer-advertiser {
    grid-column: 2/3;
  }

  .footer-third-section {
    flex-direction: column-reverse;
  }
}
